@model WorkWithWCF.Models.WeatherModel

@if (Model != null && !String.IsNullOrEmpty(Model.Location))
{
    <div>Weather:</div>
    <div>Location: @Model.Location</div>
    <div>Time: @Model.Time</div>
    <div>Temperature: @Model.Temperature</div>
    <div>DewPoint @Model.DewPoint</div>
    <div>SkyConditions: @Model.SkyConditions</div>
    <div>Visibility: @Model.Visibility</div>
    <div>Wind: @Model.Wind</div>
    <div>RelativeHumidity: @Model.RelativeHumidity</div>
    <div>Pressure: @Model.Pressure</div>
    
}